<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body>
    <style>
        body {
            background: #fff;
        }

@media only screen and (max-width: 500px) {
img {height: auto !important}
}
        img {
            height: 100vh;
            width: auto;
            cursor: pointer;
        }

        .wrapper {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-group>label {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, .7)
        }

        .form-control {
            border-bottom: 2px rgba(0, 0, 0, .2)solid
        }
    </style>
    <div class="wrapper">
        <img src="/images/180X100_ODAK_DAVETIYE-02.jpg" alt="HAVELSAN ODAK">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formLabel">Katılım Formu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="uyari"></div>
                    <small>Etkinliğimiz yalnızca kamu kurumlarından ve kurumsal şirketlerden katılıma açık olup, etkinlik günü HAVELSAN Teknoloji Kampüsü'ne girişte kurum kimliği ibrazı talep edilecektir.<br /><br /></small> 
                    <form id="contact" method="post">
                        <div class="form-group">
                            <label for="name">İsim, soyisim<span style="color: red">*</span></label>
                            <input name="name" type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">E-posta adresi<span style="color: red">*</span></label>
                            <input name="email" type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="kurum-adi">Kurum Adı<span style="color: red">*</span></label>
                            <input name="kurum-adi" type="text" class="form-control" id="kurum-adi">
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefon</label>
                            <input name="phone" type="text" class="form-control" id="phone">
                        </div>
                        <div class="form-group">
                            <label for="position">Çalıştığınız Pozisyon</label>
                            <input name="position" type="text" class="form-control" id="position">
                        </div>
                        <small>
                            Katılım formu reCAPTCHA from Google ile korunmaktadır.<br>
                            <a href="https://policies.google.com/privacy">Gizlilik Politikası</a>
                            <a href="https://policies.google.com/terms">Hizmet Koşulları</a></small> <br> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark mr-2" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="contactButton" class="btn btn-primary">Gönder</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ldenj4hAAAAAIhvhz5kBsv3ZtpyTtX051DEX_BT"></script>
    <script>
        $('img').on('click', function () {
            $('#form').modal('show');
        })
        $('#contact').on('submit', function (a) {
            a.preventDefault(), a.stopImmediatePropagation(), a.stopPropagation(), grecaptcha.ready(function () {
                grecaptcha.execute('6Ldenj4hAAAAAIhvhz5kBsv3ZtpyTtX051DEX_BT', { action: 'subscribe_newsletter' }).then(function (a) {
                    $('#contact').prepend('<input type="hidden" name="token" value="' + a + '">'), $('#contact').prepend('<input type="hidden" name="action" value="subscribe_newsletter">'), $.ajax({
                        type: "POST", url: "https://ws.aciklab.org/odak_davetiye", data: $('#contact').serialize(), success: function (a) {
                            $('#contact')[0].reset(), $("#uyari").html(`<div class="alert alert-success" role="alert">
        ${a}
      </div>`)
                        }
                    })
                })
            })
        })</script>
</body>

</html>
